.btnGenerarReporte {
	width: 100%;
	height: 60px;
	margin-top: 30px;
}

.header {
	text-align: center;
}

.dateEntry {
	margin: auto 0;
}

.table-header {
	margin-top: 20px;
}

.testImage {
	height: 100%;
	width: 100%;
}

.reportRow {
	margin-top: 20px;
}

.infoEntry {
	font-size: 13px;
}
